# 宽格式转长格式

业务端发来一个 "产品品类名称" 和 "品类名称"的对应关系表，但打开一看是宽格式的，需要转成长格式才能喂给程序。

In [1]:
from QJBSL.dataset import load_excel_file
import pandas as pd

# 读取宽格式数据
Category_relationship_WideFormat = load_excel_file('产品品类名称_品类别名_映射关系.xlsx',datapath='Example_dataset')
Category_relationship_WideFormat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2478 entries, 0 to 2477
Data columns (total 30 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2478 non-null   int64
 1   产品品类名称   2478 non-null   object
 2   品类别名_1   2478 non-null   object
 3   品类别名_2   141 non-null    object
 4   品类别名_3   87 non-null     object
 5   品类别名_4   55 non-null     object
 6   品类别名_5   32 non-null     object
 7   品类别名_6   25 non-null     object
 8   品类别名_7   21 non-null     object
 9   品类别名_8   20 non-null     object
 10  品类别名_9   15 non-null     object
 11  品类别名_10  13 non-null     object
 12  品类别名_11  10 non-null     object
 13  品类别名_12  6 non-null      object
 14  品类别名_13  4 non-null      object
 15  品类别名_14  4 non-null      object
 16  品类别名_15  3 non-null      object
 17  品类别名_16  2 non-null      object
 18  品类别名_17  2 non-null      object
 19  品类别名_18  2 non-null      object
 20  品类别名_19  2 non-null      object
 21  品类别名_20  2 non-null      object
 22  品类别名_21  2 non-null      object
 23  品类别名_22  2 non-null      object
 24  品类别名_23  2 non-null      object
 25  品类别名_24  2 non-null      object
 26  品类别名_25  1 non-null      object
 27  品类别名_26  1 non-null      object
 28  品类别名_27  1 non-null      object
 29  品类别名_28  1 non-null      object
dtypes: int64(1), object(29)
memory usage: 580.9+ KB

In [2]:

# 将wide format的表格清洗为long format的表格
Category_relationship_LongFormat = (
    pd.melt(frame = Category_relationship_WideFormat, 
            id_vars=['id', '产品品类名称'], 
            var_name='品类别名', 
            value_name='Value')
    .dropna(subset=['Value'])   #在管道中操作dropna函数不需要添加inplace=True
)

Category_relationship_LongFormat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2936 entries, 0 to 67434
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2936 non-null   int64
 1   产品品类名称  2936 non-null   object
 2   品类别名    2936 non-null   object
 3   Value   2936 non-null   object
dtypes: int64(1), object(3)
memory usage: 114.7+ KB

In [3]:
# 这样我们就得到了产品品类名称和品类别名的对应关系，可以导入程序中使用
Category_relationship_LongFormat.head()

   id       产品品类名称    品类别名                      Value
0   1       Bumper  品类别名_1                     Bumper
1   2    Headlight  品类别名_1                 Head Light
2   3  Door Mirror  品类别名_1              Towing Mirror
3   4  Control Arm  品类别名_1  Suspension Stabilizer Bar
4   5       Grille  品类别名_1                      Grill